body {margin: 0; padding:0; background-color:#fff;}
nav {float:left; min-width:250px; background-color:#EEEEEE; min-height:400px;}

div.header-menu .checked {background-color:#AA33CF; }
div.header-menu .checked a {color: #00f900; font-weight: 600;}
div.header-menu a {text-decoration: none;}
article {margin-left:255px;}
article td, article table, article th {border:1px solid #410141; border-collapse:collapse;}
article td {padding: 3px;}